/* no height given for the #main  */

:root {
    --green-btn-bg-border-color: #00dc16;
    --green-btn-bg-color-hover: #00900e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #000;
}

nav {
    position: fixed;
    /* background-color: rgb(0, 255, 68); */
    display: flex;
    align-items: flex-start;
    height: 13vh;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1 {
    font-size: 1.6vw;
    padding-top: 6px;
}

.nav-middle {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-middle h4 {
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 7px;
    margin-bottom: 3vw;
}

.nav-middle h4:hover {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
    text-decoration: underline;
    cursor: pointer;
}

.nav-middle h5 {
    margin-bottom: 1vw;
    font-size: 1.1vw;
    text-transform: uppercase;
    /* background-color: red; */
    display: none;
    overflow: hidden;
}

.nav-middle h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

nav button {
    background-color: var(--green-btn-bg-border-color);
    border: 2px solid var(--green-btn-bg-border-color);
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 0.95vw;
    font-weight: bolder;
    text-transform: uppercase;
    /* border-radius: 5px; */
}

nav button:hover {
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    border: 2px solid var(--green-btn-bg-color-hover);
    border-radius: 200px;
    background: transparent;
    scale: 1.03;
    color: #fff;
}

nav button svg {
    height: 0.85vw;
    margin-left: 1.6vw;
}

#nav-bottom {
    width: 79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    top: 100%;
    background-color: #111;
    z-index: 9;
    border-bottom: 1px solid #fff;
}


/*-------------------------------------- PAGE-01 CSS --------------------------------------*/

#page1 {
    height: 100vh;
    width: 100%;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1 svg {
    height: 5.5vw;
    width: 5.5vw;
    background-color: var(--green-btn-bg-border-color);
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    /* Smooth transition */
    animation: spin 0.9s infinite linear;
    /* Rotate continuously */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#page1 h1 {
    /* here we are take size in 'vw' which help in making responsive website  */
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 7.5vw;
}

#page1 p {
    text-align: center;
    font-weight: 400;
    margin: 3vh;
    margin-bottom: 4px;
}

#page1 #page1-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#page1 #page1-button h4:hover {
    border: 1px solid var(--green-btn-bg-color-hover);
    cursor: pointer;
}

#page1 #page1-button h4 {
    font-weight: 400;
    font-size: 1.2vw;
    text-transform: lowercase;
    border: 1px solid #a5a5a5;
    margin: 0px 3px;
    margin-top: 0.5px;

    /* we can give padding & border radius in 'px' it doesn't effect responsiveness  */
    padding: 5px 10px;
    border-radius: 50px;
}

#page1 #page1-button h4:nth-last-child(2) {
    border: none;
    padding: 2px 0px;
}


/*-------------------------------------- MOVING-DIV CSS (PAGE - 01)--------------------------------------*/

#moving-div {
    background-color: rgb(237, 75, 75);
    background-color: black;
    /* border-top: 1px solid #dadada; */
    /* border-bottom: 1px solid #dadada; */
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 55%;
    height: 15vh;
}

#moving-div .move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 1.5vw;
    margin: 0 2vw;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

#blur-left {
    height: 100%;
    width: 22%;
    background: linear-gradient(to right, black, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right {
    height: 100%;
    width: 22%;
    background: linear-gradient(to right, transparent, black);

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

/*-------------------------------------- PAGE-02 CSS --------------------------------------*/

#page2 {
    height: 110vh;
    width: 100%;
    background-color: black;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 0vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #333;
}

#page2-left {
    height: 100%;
    width: 40%;
    /* background-color: #535252; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}

#page2-left p {
    font-size: 0.8vw;
}

#page2-left h5 {
    width: 70%;
    font-weight: 400;
    font-size: 1vw;
}

#page2-right {
    height: 100%;
    width: 50%;
    /* background-color: #535252; */
}

.right-elem {
    position: relative;
    /* background-color: red; */
    padding-top: 3vw;
    padding-bottom: 5.4vw;
    border-bottom: 0.5px solid #333;

}

.right-elem:hover {
    /* transition: all 0.4s ease-in-out; */
    border-bottom: 1.5px solid #ffffff;
    border-top: 1.5px solid #ffffff;
    /* box-shadow: 0px 0px 6px rgba(13, 163, 78, 0.903); */
}

.right-elem h2 {
    font-size: 1.4vw;
    font-weight: 400;
}

.right-elem img {
    height: 7vw;
    width: 7vw;
    opacity: 0;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    scale: 0;
    /* padding: 1px; */
    /* border: 1px solid #595959; */
}

/*-------------------------------------- PAGE-03 CSS --------------------------------------*/

#page3 {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
    background-image: url(https://assets-global.website-files.com/64a2ab71942e1d57feb6fe39/65f306410543a22950d85603_reel-cover.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    transition: border-radius 1s;
    /* Smooth transition for border-radius change */
}

#page3:hover {
    border-radius: 50px;
    /* Apply border-radius of 50px on hover */
    border: 5px solid rgb(237, 237, 237);

}

#page3-center {
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

#page3-center .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    border-radius: 50%;
    background-color: black;
}

#page3-center .icon i {
    color: rgb(255, 255, 255);
    font-size: 2.8vw;
    border-radius: 50%;
    background-color: transparent;
}

#page3-center .icon:hover,
#page3-center .icon i:hover,
#page3-center .icon:hover i {
    background-color: var(--green-btn-bg-border-color);
    /* scale: 1.15; */
    transition: all 0.5s ease-in-out;
    color: black;
    cursor: pointer;
}

#page3-center h5 {
    font-size: 1vw;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 58px;
    border-radius: 50px;
    padding: 12px 26px;
    margin-top: 0.8vw;
    font-weight: 700;
    opacity: 0;
    text-transform: uppercase;
    transition: all ease 0.5s;
    transform: translateY(10%);
    border: 2px solid var(--green-btn-bg-color-hover);
}

#page3-center:hover h5 {
    opacity: 1;
    transform: translateY(0%);
    transition: all 0.5s ease-in-out;
    color: white;
    cursor: pointer;
}


#page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scale(0.7) scaleY(0);
    opacity: 0;
    border-radius: 30px;
}

/*-------------------------------------- PAGE-04 CSS --------------------------------------*/

#page4 {
    min-height: 90vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0vw 6vw;
    padding-bottom: 0vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#page4-left {
    height: 100%;
    width: 45%;
    /* background-color: #c50f0f; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 7.5vw 0;
}

#page4-left h1 {
    width: 85%;
    font-weight: 750;
    font-size: 3.5vw;
    color: black;
    /* font-family: neue-haas-grotesk-display, sans-serif; */

}

#page4-right {
    height: 100%;
    width: 50%;
    /* background-color: #535252; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page4-right-elem {
    position: relative;
    /* background-color: red; */
    padding-top: 4vw;
    /* border-bottom: 0.5px solid #333; */
    height: 54%;
}

.page4-right-elem:nth-child(2) {
    height: 45%;
}

.page4-right-elem h4 {
    font-size: 1.1vw;
    font-weight: 400;
    text-transform: uppercase;
    color: #a3a3a3;
    font-family: neue-haas-grotesk-display, sans-serif;
}

.page4-right-elem p {
    font-size: 1.6vw;
    margin-top: 30px;
    color: black;
    font-family: neue-haas-grotesk-display, sans-serif;
}

/*-------------------------------------- PAGE-05 CSS --------------------------------------*/

#page5 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding: 0vh 13vh;
    padding-bottom: 8vh;
}

.section {
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8vh 7vw;
    padding-bottom: 0;
}

.sec-left {
    height: 100%;
    width: 25%;
    padding-top: 3vh;
    /* background-color: aqua; */
}

.sec-left h2 {
    font-size: 2.1vw;
    font-weight: 500;
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.sec-left p {
    color: #000;
    margin-top: 10vh;
    font-size: 1.2vw;
    width: 80%;
}

.sec-right {
    height: 100%;
    width: 70%;
    background-color: rgb(237, 193, 127);
    position: relative;
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

.sec-right:hover {
    scale: 0.95;
    transition: all 0.5s ease-in-out;
} 

.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    cursor: pointer;
}

#page5 .section:first-child .sec-right:hover {
    box-shadow: rgba(25, 99, 237, 0.750) 20px 23px 50px 1px;
    border-right: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid rgb(25, 99, 237);
    border-top: 3px solid rgb(25, 99, 237);

}

#page5 .section:nth-child(2):hover .sec-right {
    /* box-shadow: rgba(0, 0, 0, 0.9) 5px 22px 70px 4px; */
    box-shadow: rgba(0, 0, 0, 0.9) 10px 25px 40px 10px;
    border-right: 3px solid #000000;
    border-bottom: 3px solid #000000;
}

/*-------------------------------------- PAGE-06 CSS --------------------------------------*/

#page6 {
    min-height: 100vh;
    background-color: #111;
    width: 100%;
    position: relative;
    padding: 5vh 10.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#page6 button {
    background-color: var(--green-btn-bg-border-color);
    border: 1px solid var(--green-btn-bg-border-color);
    padding: 0.7vw 2.4vw;
    font-weight: 600;
    font-size: 1.2vw;
    position: sticky;
    top: 17%;
    color: #000;
}

#page6 button:hover {
    transition: all 0.75s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--green-btn-bg-color-hover);
    border-radius: 200px;
    background: transparent;
    scale: 1.05;
    color: white;
}

#page6-right {
    width: 70%;
}

#page6-right>p {
    font-size: 2.1vw;
}

#page6-right>p span {
    background-color: red;
    display: inline-block;
    width: 15vw;
}

#page6-content {
    width: 100%;
    /* background-color: red; */
    margin-top: 5vh;
    padding: 5vh 0;
}

#page6-content>h1 {
    font-size: 3vw;
    font-weight: 500;
}

#page6-content #flex {
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#page6-content #flex h4 {
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 0.8vw;
}

.page6-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding-top: 3vh;
    padding-bottom: 9vh;
    position: relative;
    overflow: hidden;
    border-top: 1px soid #333;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page6-elem:hover {
    border-top: 2px solid #fff;
}

.page6-elem p {
    width: 60%;
    font-size: 0.8vw;
    position: relative;
    z-index: 8;
}

.page6-elem h3 {
    font-size: 1.6vw;
    font-weight: 400;
    position: relative;
    z-index: 8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page6-elem:hover h3 {
    padding-left: 1vw;
}

.page6-elem i {
    font-size: 1vw;
    position: relative;
    z-index: 8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page6-elem:hover i {
    padding-right: 1vw;
}

.hoover {
    height: 100%;
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    /* display: none; */
}

.page6-elem:hover .hoover {
    transform: translateY(0);
    opacity: 1;
    /* display: initial; */
}

summary::marker {
    content: "";
    /* We used it so that details tag "marker" get hide  */
}

.ui-ux {
    border-top: 1px solid #333;
    padding: 3vh 0;
}

.product {
    padding: 3vh 0;
    border-top: 1px solid #333;
}
